<div class="login-bg d-flex align-items-center justify-content-center min-vh-100">
    <div class="card login-card shadow-lg p-4">
        <div class="card-body text-center">
            <img src="/assets/railcartracker_grey.png" alt="Railcar App Logo" class="mb-5 login-logo">

            <p class="mb-4 text-muted">Welcome! Please sign in to continue.</p>
            <button (click)="login()" class="btn btn-primary btn-lg w-75 mb-3">
                <span class="material-icons-outlined align-middle me-2">login</span>
                Sign in with Auth0
            </button>
            <p class="text-center text-muted small mb-0">
                Need help? <a href="mailto:support&#64;railcartracker.site">Contact support</a>
            </p>
        </div>
    </div>
</div>