<!-- <header *ngIf="isLoggedIn">
    <nav class="navbar">
        <a routerLink="/home" routerLinkActive="active" class="nav-links">Home</a>
        <a routerLink="/railcar-form" routerLinkActive="active" class="nav-links">New Railcar</a>
        <a routerLink="/railcar-inspection-list" routerLinkActive="active" class="nav-links">Inspection List</a>
        <a routerLink="/bad-order-list" routerLinkActive="active" class="nav-links">Bad Order List</a>
        <a (click)="openLogoutModal()" class="nav-links" style="cursor:pointer;">Logout</a>
    </nav>
</header> -->

<!-- testing with stitch -->

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />


<!-- Nav Bar -->

<aside *ngIf="isLoggedIn" class="sidebar">
  <div class="sidebar-logo">
    <img alt="Railcar App Logo"
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuAYwuzHE9w7acNn64uPqm5nBCwRFnNBTZBEP9_M_PLgdRW1VPyALmxIzofNMxknhJFf7NzV8QKszC0rnKfbhpHFYp4t-PHOfd8l5a93-dLO5tsSQ3aJBNUYNlHIgZtcxZRj61-PstS9iX6yPZc4bXdoT4uJKgCSsAAWwTQCYhYljKtYpEFAGNYZOa7JpH5VzF6UooQd1H1DQEHAwrqmHisZF9NHIdxvBpeitKWy8H0u8cnIClQM_Ve-xhxIgOG8rEM6jX9XQ0mX4JA" />
  </div>
  <nav class="nav flex-column sidebar-nav w-100 align-items-center">
    <a class="nav-link tooltip-custom" href="/home">
      <span class="material-icons-outlined sidebar-icon">home</span>
      <span class="tooltiptext-custom">Home</span>
    </a>
    <a class="nav-link tooltip-custom position-relative" href="/railcar-form">
      <span class="material-icons sidebar-icon">train</span>
      <span class="material-icons-outlined sidebar-add-icon">add_circle</span>
      <span class="tooltiptext-custom">Add New Inspection</span>
    </a>
    <a class="nav-link active tooltip-custom" href="/railcar-inspection-list">
      <span class="material-icons-outlined sidebar-icon">list_alt</span>
      <span class="tooltiptext-custom">Inspection List</span>
    </a>
  </nav>
  <div class="mt-auto d-flex flex-column align-items-center w-100" style="padding-bottom: 1.5rem;">
    <a class="nav-link active tooltip-custom" (click)="openLogoutModal()" style="cursor:pointer;">
      <span class="material-icons-outlined sidebar-icon">logout</span>
      <span class="tooltiptext-custom">Logout</span>
    </a>
  </div>
</aside>

<body>
  <div class="modal" *ngIf="showLogoutModal">
    <div class="modal-content">
      <span class="close" (click)="cancelLogout()">&times;</span>
      <h3>Are you sure you want to logout?</h3>
      <button type="button" class="cta-button" (click)="confirmLogout()">Logout</button>
      <button type="button" class="cta-button" (click)="cancelLogout()">Cancel</button>
    </div>
  </div>
</body>
<div style="padding: 2em;">
  <router-outlet></router-outlet>
</div>
<footer *ngIf="isLoggedIn === false" class="footer">
  <p>&copy; 2025 Railcar Tracker. All rights reserved.</p>
  <p>Contact: support&#64;railcartracker.site</p>
</footer>