<div class="container">
    <p>Streamline your railcar inspections with our easy-to-use tracking system. Add and maintain inspections, bad
        orders, and view visualized data.</p>
    <button class="cta-button" routerLink="/railcar-form">Get Started</button>
    <!-- <div style="max-width:600px; margin:2em auto;">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
    </div> -->
</div>